<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cchao.insomnia">

    <application
        android:name=".global.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.cchao.simplemusic.MusicService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".ui.fall.FallImageActivity"/>
        <activity android:name=".ui.global.ImageShowActivity"/>
        <activity
            android:name=".ui.music.MusicPlayerActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.music.MusicListActivity"/>
        <activity android:name=".ui.fall.FallMusicListActivity"/>
        <activity android:name=".ui.account.LogInActivity"/>
        <activity android:name=".ui.post.PostDetailActivity"/>
        <activity android:name=".ui.post.AddPostActivity"/>
        <activity android:name=".ui.main.MainActivity"/>
        <activity android:name=".ui.account.EditUserInfoActivity"/>
        <activity android:name=".ui.account.UserInfoActivity"/>
        <activity android:name=".ui.play.Play478Activity"/>
        <activity android:name=".ui.play.CountSheepActivity"/>
        <activity android:name=".ui.account.WishListActivity"/>
    </application>

</manifest>